[Unit]
Description=ZPL printing service
After=network.target cups.service

[Service]
Environment=NODE_ENV=production
Environment=ZPL_CONFIG=/etc/zplexpress/config.json
ExecStart=/usr/bin/node /opt/zplexpress/main.js
Restart=always
RestartSec=2
WorkingDirectory=/opt/zplexpress

[Install]
WantedBy=multi-user.target
